<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
</head>
<body>
    <form>
    
<div style="margin-top: 80px;padding-left: 588px;">
<div class="container text-center">
    <div class="alert alert-secondary" role="alert">
        <div style="font-size: 20px;top:20px;">
            
    <h2 style="color:green;">Payment Successfull <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Green_check_icon_with_gradient.svg/1024px-Green_check_icon_with_gradient.svg.png" alt="" width="45px" height="45px"></h2><br>
    <p style="padding-left: 73px;">Go to <a href="{% url 'index' %}">Home</a> Page</a></p>
        </div>
        
    </div>
    </div>
    </div>
</form>

    </div>
</body>
</html>
