{% extends 'base.html'%}

{% block title %} booking {% endblock %}
{% block content %}
<div style="background-position: center;">
<img src="https://wallpaperbat.com/img/400555-gym-workout-wallpaper-top-free-gym-workout-background.jpg" 
alt="Avatar" class="image" width="100%">
<!-- <div class="overlay-text" style="position: absolute;
  top: 47%; 
  left: 20%; 
  bottom: 70%;
  transform: translate(-50%, -50%); 
  color:white; 
  padding: 10px 20px; 
  font-size:30px;
  font-weight: 900; font-style: oblique;
  text-align: center;"></div>
  <div> -->
<div class="overlay-text" style="position: absolute;
  top: 60%; 
  left: 20%; 
  bottom: 70%;
  transform: translate(-50%, -50%); 
  color:white; 
  padding: 10px 20px; 
  font-size:70px;
  font-weight: 900; font-style: oblique;
  text-align: center;">Contact  Us</div>
  <div>
    
  </div>
  
</div>
</div><br>
<div style="display: flex;">
<div style="padding-left: 550px;">
<h2>Gym Hours   <img src="https://cdn-icons-png.freepik.com/512/2/2306.png" alt="" width="30px" height="30px"></h2><br>
<p>Monday : 5am - 10pm</p>
<p>Tuesday : 5am - 10pm</p>
<p>Wednesday : 5am - 10pm</p>
<p>Thursday : 5am - 10pm</p>
<p>Friday : 5am - 10pm</p>
<p>Saturday : 5am - 10pm</p>
<p>Sunday : HOLIDAY</p><br>
</div>
<div style="padding-left: 100px;">
<h2>Contact Us</h2><br>
<p style="padding-left: 20px;"><img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png" alt="" width="35px" height="35px">  0812456667</p>
<div style="padding-left: 20px;" >

  <a href="http://instagram.com"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" alt="" width="40px" height="40px"> Fit_Focus_gym</a><br>
  </div><br>

  <div style="padding-left: 20px;" >

  <a href="http://facebook.com"> <img src="https://w7.pngwing.com/pngs/561/460/png-transparent-fb-facebook-facebook-logo-social-media-icon.png" alt="" width="40px" height="40px"> Fit & Focus</a><br>
    </div><br>
  
    <div style="padding-left: 20px;" >

      <a href="http://twitter.com"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-icon-circle-png-logo-8.png" alt="" width="40px" height="40px">  https://twitter.com/FitFocus</a><br>
      </div>
</div>
</div><br><br>


{% endblock %}
