<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Failure</title>
</head>
<body>
    <h1>Payment Failed</h1>
    <p>There was an error processing your payment.</p>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
</head>
<body>
    <form>
    
<div style="margin-top: 80px;padding-left: 588px;">
<div class="container text-center">
    <div class="alert alert-secondary" role="alert">
        <div style="font-size: 20px;top:20px;">
            
    <h2 style="color:rgb(229, 14, 32);">Payment Failure <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlrbyu_AuXWegxGguT4Kb99Bl6xoV8nuyCClclNLxI9A&s" alt="" width="45px" height="45px"></h2><br>
    <p style="padding-left: 73px;"> <a href="{% url 'admission' %}">Back </a></a></p>
        </div>
        
    </div>
    </div>
    </div>
</form>